<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Formularz dodawania Produktu</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/custom.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
  <div>
    <h1>Formularz dodawania Produktu</h1>

    <form action="#" th:action="@{/save}" th:object="${wallet}" method="post">

      <table>
        <tr>
          <td width="10%"> Data :</td>
          <td width="90%" aling="left"><input type="text" th:field="*{date}" /></td>
          <label th:if="${#fields.hasErrors('date')}"  th:errors="*{date}"  th:class="'error'">Blad w dacie</label>
        </tr>

        <tr>
          <td>Nazwa Produktu :</td>
          <td><input type="text" th:field="*{name}" /></td>
          <label th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"  th:class="'error'">Blad w Nazwie</label>
        </tr>

        <tr>
          <td>Cena :</td>
          <td><input type="number" th:field="*{price}" /></td>
          <label th:if="${#fields.hasErrors('price')}"  th:errors="*{price}"  th:class="'error'">Blad w Cenie</label>
        </tr>

        <tr>
          <td>Ile Mamy</td>
          <td><input type="number" th:field="*{moneyLeft}"   /></td>
          <label th:if="${#fields.hasErrors('moneyLeft')}"  th:errors="*{moneyLeft}"  th:class="'error'">Blad w Polu</label>
        </tr>

        <tr>
          <td>   </td>
          <td>
            <input type="submit" value="Dodaj"/>
          </td>
        </tr>
      </table>
    </form>

  </div>


</body>
</html>
