<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">



<head>
    <meta charset="UTF-8"/>
    <title> Login </title>
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}" />

</head>
<body>
<form th:class="login" th:action="@{/login}" method="post" id="login">
    <h1 id="title">Login</h1>
    <input type="text" name="username" placeholder="UserName" id="username"/>
    <input type="password" name="password" placeholder="Password" id="password"/>
    <input type="submit" value="Login" id="dodaj"/>
</form>
</body>
</html>
