<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Lista Produktow</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
  <h1 aling="center">Lista Produktow</h1>
  <table id="t02" cellpadding="2">
    <tr>

      <th>
        <a href="/add"><button name="add" id="add">Dodaj nowy Zakup</button></a>
      </th>

      <th>
        <a  aling="right" href="/deleteAll"><button name="deleteAll" id="deleteAll">Usun Wszystko</button></a>

      </th>
      </tr>

    </table>
    <table>

    </table>
<form:form>
<table id="t01" border="2" width="70%" cellpadding="2">
  <tr>
    <th>Data</th><th>Co/Gdzie Kupiono</th><th>Wydatki</th><th>Przychody</th>
    </tr>

    <tr th:each="wallet : ${list}">
 <td th:text="${{wallet.date}}"></td>
 <td th:text="${wallet.name}"></td>
 <td th:text="${wallet.price}"></td>
 <td id="12" th:text="${wallet.moneyAdd}"></td>

 <td><a  th:href="@{'/editProduct/' + ${wallet.id}}"><button name="edit" id="edit">Edytuj</button></a></td>
    <td><a th:href="@{'/deleteProduct/' + ${wallet.id}}"><button name="delete" id="delete">Usun</button></a></td>

  </tr>

</table>
  <br/>
</form:form>

</body>
</html>
